/* font-family: 'Inter', sans-serif; */
/* html {
  color-scheme: dark light;
} */
* {
  padding: 0;
  margin: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 100svh;
  min-height: 100vh;
  background: var(--color-100);
}
img,
svg,
picture {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
}
h1,
h2,
h3 {
  font-family: var(--font);
  color: var(--color-900);
}
p {
  max-width: 40ch;
  font-size: 0.9375rem;
  font-family: var(--font);
  line-height: 1.5;
  color: var(--color-800);
}
a {
  font-size: 0.9375rem;
  font-family: var(--font);
  text-decoration: none;
  color: var(--color-900);

  &:hover {
    color: var(--color-accent);
      text-decoration: underline;
  }
  &:focus-visible {
    color: var(--color-accent);
    text-decoration: underline;
  }
}
:root {
  --color-accent: #007aac;
  --color-100: #fafafa;
  --color-200: #f5f5f5;
  --color-300: #ececec;
  --color-400: #d0d0d0;
  --color-800: #2d2d30;
  --color-900: #1e1e1e;

  --font: "Inter", sans-serif;
}
nav {
  z-index: 98;
  position: fixed;
  width: 100%;
  background: var(--color-200);
  border-bottom: 1px solid var(--color-400);

  & > div {
    padding: 8px 2%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
  }
}
.wrapper {
  position: relative;
  margin: 0 2% 32px;
  padding-inline: clamp(16px, 5%, 32px);
  max-width: 500px;
  border-radius: 1rem;
  border: 1px solid var(--color-400);
}
#top-logo,
#footer-logo {
  display: block;
  width: 32px;
}
.menu-button {
  border: 0;
  background: transparent;
  font-size: 1.5rem;

  transition: all 150ms cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &:hover {
    cursor: pointer;
    transform: scale(0.8, 1.2);
  }
  &:focus-visible {
    transform: scale(0.8, 1.2);
  }
  &:active {
    transform: scale(0.8);
  }
}
.noBtn {
  transform: scale(0);
}
.menu {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  width: 70%;
  border-radius: 1rem;
  border: 1px solid var(--color-400);
  background: var(--color-300);

  visibility: hidden;
  opacity: 0;
  transition: all 200ms cubic-bezier(1, 0, 0, 1);

  & > div:last-child {
    text-align: right;
  }
}
.menu.active {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.nav-links {
  display: grid;
  gap: 5px;
}
.social-list {
  margin-top: 1rem;
  display: flex;
  gap: 15px;

  & li {
    width: 32px;
    transition: all 150ms cubic-bezier(0.68, -0.55, 0.27, 1.55);

    &:hover {
      transform: scale(0.8, 1.2);
    }
    &:focus-visible {
      transform: scale(0.8, 1.2);
    }
    &:active {
      transform: scale(0.8);
    }
  }
}
header {
  height: 100vh;
  height: 100svh;
  display: grid;
  align-items: center;

  & h1 {
    font-size: 2rem;
    font-weight: 700;

    &:hover {
      color: var(--color-accent);
    }
  }

  /* &::after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100svh;
    opacity: .1;
    background: url(./assets/video.gif);
    background-repeat: no-repeat;
  } */
}
#profile-img {
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;

  & img {
    object-fit: contain;
    object-position: left;
    height: 100%;
  }
}
main {
  padding: 32px 0 64px;
  display: grid;
  gap: 2rem;
  border-top: 1px solid var(--color-400);
}
.about {
  & h2 {
    font-size: 1.1rem;
    font-weight: 700;
  }
  & p:first-of-type {
    margin-bottom: 10px;
  }
}
.skills {
  display: grid;
  gap: 1.5rem;
}
.card {
  display: grid;
  gap: 1.5rem;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--color-400);
  background: var(--color-200);
}
.card-header {
  display: grid;
  gap: 1.5rem;

  & p {
    font-size: 0.875rem;
  }
}
.card-title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;

  & figure {
    width: 50px;
    height: 50px;
  }

  & h2 {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--font);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -12%;
    width: 90%;
    height: 1px;
    display: block;
    background: var(--color-400);
  }
}
.card-list {
  & h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font);
  }
  & ul {
    display: grid;
    gap: 0.5rem;
  }
  & ul li {
    display: flex;
    align-items: center;
    gap: 1rem;

    & figure {
      width: 30px;
    }
  }
}

.works {
  & h2 {
    position: relative;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      bottom: -15%;
      width: 90%;
      height: 1px;
      display: block;
      background: var(--color-400);
    }
  }
  & div {
    display: grid;
    gap: 1.5rem;
  }
}
.work-img,
.work-link {
  display: grid;
  place-items: center;
}
.work-card {
  padding-bottom: 24px;
  border: 1px solid var(--color-400);
  border-radius: 1rem;
  background: var(--color-200);
  overflow: hidden;

  & h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font);
  }

  & figcaption {
    padding-inline: 24px;
  }
}
.work-img {
  position: relative;
  margin-bottom: 1rem;
  /* border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden; */

  &:hover .work-link {
    opacity: 100;
    visibility: visible;
  }
}

.work-link {
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 93%, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 100ms ease-in-out;

  & a {
    font-size: 1rem;
    font-weight: 500;
  }
}

footer {
  padding: 32px 0;
  display: grid;
  gap: 1.5rem;
  border-top: 1px solid var(--color-400);
}
@media (width >= 500px) {
  nav > div {
    padding-inline: 0;
  }
  nav > div,
  .wrapper {
    margin: auto;
  }
  .wrapper {
    margin-bottom: 50px;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /* FROM DARK TO LIGHT COLORS; */
    --color-100: #1e1e1e;
    --color-200: #252526;
    /* --color-300: #ececec; */
    --color-400: #3e3e42;
    --color-800: #d0d0d0;
    --color-900: #e1e1e1;
  }

  .menu {
    background: var(--color-200);
  }

  .work-link {
    background: hsla(240, 3%, 25%, 0.5);

    & a:hover {
      color: var(--color-900);
    }
  }
}
