---
import MainLayout from "../../layout/mainLayout.astro";
import AllPosts from "../../components/allPosts.astro";
import SectionHeader from "../../components/sectionHeader.astro";
---

<MainLayout title="Kendpr's Posts">
  <section
    class="maxSm:border-b mt-20 border-y-neutral-400 pb-16 dark:border-y-neutral-700"
  >
    <SectionHeader type="OnlySection" title="Posts" />
    <div class="grid gap-y-10 prose-headings:font-bold">
      <AllPosts />
    </div>
  </section>
</MainLayout>
