---
import MainLayout from "../../layout/mainLayout.astro";
import AllPosts from "../../components/sections/allPosts.astro";
import SectionHeader from "../../components/sections/sectionHeader.astro";
import Column from "../../layout/column.astro";
---

<MainLayout title="Kendpr's Posts" paddingTop="true">
  <Column>
    <main>
      <section
        class="border-y-neutral-400 pb-16 maxSm:border-b dark:border-y-neutral-700"
      >
        <SectionHeader type="OnlySection" title="Posts" />
        <div class="grid gap-y-10 prose-headings:font-bold">
          <AllPosts />
        </div>
      </section>
    </main>
  </Column>
</MainLayout>
