@import "tailwindcss";
@config '../../tailwind.config.mjs';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  article pre {
    @apply mb-7 rounded-xl py-6 pl-4;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.1);
  }
  article p > code {
    @apply rounded-sm bg-[#17191e] px-[3px] py-[2px] text-sm text-[#54B9FF];
  }
  article pre code {
    @apply text-sm;

    & > *:not(:last-child) {
      @apply pe-4;
    }
  }
  .border-bottom {
    @apply maxSm:border-b border-y-neutral-700 pb-16;
  }
  .select-headings {
    @apply prose-headings:font-bold prose-headings:text-neutral-400;
  }
  .select-p {
    @apply prose-p:text-neutral-500;
  }
  .select-a {
    @apply prose-a:duration-200 prose-a:ease-in-out prose-a:hover:underline prose-a:focus-visible:underline prose-a:text-neutral-500 prose-a:hover:text-accent-dark prose-a:focus-visible:text-accent-dark;
  }
  .select-li {
    @apply prose-li:text-neutral-500;
  }
  .select-imgs {
    @apply prose-img:pointer-events-none prose-img:select-none;
  }
  .select-blockquote blockquote {
    @apply border-l-4 border-neutral-700 pl-3;
  }
  .select-blockquote blockquote > p {
    @apply text-[hsl(268,8%,55%)]!;
  }
  .squish {
    @apply focus-within:scale-x-75 focus-within:scale-y-125 hover:scale-x-75 hover:scale-y-125;
  }
  @keyframes drop {
    0% {
      transform: translateY(-50dvh);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes enlarge {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .open-dialog {
    animation-name: drop, enlarge;
    animation-duration: 100ms, 200ms;
    animation-delay: 0, 300ms;
    animation-timing-function: ease-in-out;
  }

  :root {
    --border-clr: #495057;
  }
  .fade-border-right {
    border-image: linear-gradient(to right, var(--border-clr), transparent 40%)
      1;
  }
  .fade-border-left {
    border-image: linear-gradient(to left, var(--border-clr), transparent 40%) 1;
  }

  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src:
      url("/assets/fonts/inter/Inter-Regular.woff2") format("woff2"),
      url("/assets/fonts/inter/Inter-Regular.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    src:
      url("/assets/fonts/inter/Inter-Medium.woff2") format("woff2"),
      url("/assets/fonts/inter/Inter-Medium.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    src:
      url("/assets/fonts/inter/Inter-SemiBold.woff2") format("woff2"),
      url("/assets/fonts/inter/Inter-SemiBold.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    src:
      url("/assets/fonts/inter/Inter-Bold.woff2") format("woff2"),
      url("/assets/fonts/inter/Inter-Bold.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 900;
    src:
      url("/assets/fonts/inter/Inter-Black.woff2") format("woff2"),
      url("/assets/fonts/inter/Inter-Black.woff") format("woff");
    font-display: swap;
  }
}
