---
import { getCollection } from "astro:content";
import PostCard from "../cards/postCard.astro";
import Section from "../../layout/section.astro";
import dayJs from "dayjs";
const posts = await getCollection("posts");
---

{
  posts.length !== 0 && (
    <Section title="Posts" linkText="See more Posts" linkUrl="/kendpr-md/posts">
      {posts
        .sort(
          (a, b) =>
            new Date(b.data.pubDate).getTime() -
            new Date(a.data.pubDate).getTime(),
        )
        .slice(0, 3)
        .map((post) =>
          post.data.title && post.data.description && post.data.image ? (
            <PostCard
              url={post.id}
              title={post.data.title}
              description={post.data.description}
              image={post.data.image}
              pubDate={dayJs(post.data.pubDate).format("MMMM D, YYYY")}
            />
          ) : null,
        )}
    </Section>
  )
}
