---
import { Image } from "astro:assets";
import * as projects from "../../content/projects/projects.mdx";
import Section from "../../layout/section.astro";
import Linkout from "../icons/linkout.astro";
---

<Section
  title="My Works"
  linkText="See more on Github"
  linkUrl="https://github.com/RealKendpr"
>
  {
    projects.frontmatter.list.map(
      (i: { link: string; img: string; alt: string }) => (
        <a
          href={i.link}
          class="group relative grid aspect-video place-items-center overflow-hidden rounded-lg border border-neutral-200 dark:border-neutral-700"
        >
          <div class="absolute inset-0 h-full w-full bg-accent-dark opacity-0 duration-100 ease-linear group-hover:opacity-50 dark:bg-accent-light" />
          <span class="absolute m-auto hidden text-neutral-800 group-hover:block dark:text-neutral-400">
            <Linkout size="size-10" />
          </span>
          <Image
            src={i.img}
            alt={i.alt}
            width={1920}
            height={1280}
            loading="eager"
          />
        </a>
      )
    )
  }
</Section>
