---
import { Image } from "astro:assets";
import * as projects from "../../about/projects/projects.mdx";
import Section from "../../layout/section.astro";
import type { ImageMetadata } from "astro";

const getImage = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/projects/*.{jpeg,jpg}",
);
---

<Section
  title="My Works"
  linkText="See more on Github"
  linkUrl="https://github.com/RealKendpr">
  {
    projects.frontmatter.list.map(
      (i: {
        link: string;
        img: string;
        description: string;
        title: string;
      }) => (
        <a
          href={i.link}
          class="p-2 xsm:p-8 xsm:rounded-2xl rounded-lg border no-underline! hover:bg-accent-light/10 border-neutral-200 dark:border-neutral-700">
          <div class="overflow-hidden relative grid aspect-video place-items-center mb-2 rounded xsm:rounded-[.5rem]">
            {getImage[i.img] ? (
              <Image
                src={getImage[i.img]!()}
                alt={i.title}
                width={1920}
                height={1280}
                loading="lazy"
              />
            ) : null}
          </div>
          <h3>{i.title}</h3>
          <p class="text-sm">{i.description}</p>
        </a>
      ),
    )
  }
</Section>
