---
import { Image } from "astro:assets";
import MainLayout from "../layout/mainLayout.astro";
import SkillCards from "../components/SkillCards.astro";
import { Content as About } from "../content/about.mdx";
import Projects from "../components/projects.astro";
import PostCard from "../components/postCard.astro";
---

<MainLayout title="Kendpr Markdown">
  <header class="grid min-h-dvh content-center">
    <figure>
      <div class="h-[300px] w-[300px] overflow-hidden rounded-2xl">
        <Image
          class="h-full object-cover object-left"
          src="/assets/images/peek.png"
          loading="eager"
          alt="Kendpr"
          height="100"
          width="100"
        />
      </div>
      <figcaption>
        <h1 class="text-3xl font-bold">Hi, Im Ken</h1>
        <p id="about">Front-end Developer &amp; Photo Editor</p>
      </figcaption>
    </figure>
  </header>
  <main
    class="mx-auto grid max-w-screen-xsm justify-items-center gap-y-16 border-y border-y-neutral-200 pb-16 pt-8 prose-headings:font-bold prose-p:text-base sm:border-b-0 dark:border-y-neutral-700"
  >
    <section
      class="prose-h2:text-base prose-p:first-of-type:mb-3 prose-p:first-of-type:mt-1"
    >
      <About />
    </section>
    <div id="posts">
      <PostCard />
    </div>
    <section id="works">
      <Projects />
    </section>
    <div class="grid gap-6 prose-p:text-pretty">
      <SkillCards type="frontend" />
      <SkillCards type="backend" />
      <SkillCards type="others" />
    </div>
  </main>
</MainLayout>
