---
import { Image } from "astro:assets";
import MainLayout from "../layout/mainLayout.astro";
import SkillCards from "../components/SkillCards.astro";
import { Content as About } from "../content/about.mdx";
import Projects from "../components/projects.astro";
---

<MainLayout title="Kendpr Markdown">
  <header class="min-h-dvh grid content-center">
    <figure>
      <div class="w-[300px] h-[300px] rounded-2xl overflow-hidden">
        <Image
          class="object-cover object-left h-full"
          src="/assets/images/peek.png"
          loading="eager"
          alt="Kendpr"
          height="100"
          width="100"
        />
      </div>
      <figcaption>
        <h1 class="text-3xl font-bold">Hi, Im Ken</h1>
        <p>Front-end Developer &amp; Photo Editor</p>
      </figcaption>
    </figure>
  </header>
  <main class="pt-8 pb-16 grid gap-8 border-t">
    <section
      class="prose-headings:font-bold prose-h2:text-lg prose-p:text-sm prose-p:first-of-type:mb-3 prose-p:first-of-type:mt-1"
    >
      <About />
    </section>
    <div class="prose-headings:font-bold prose-p:max-w-[40ch] grid gap-6">
      <SkillCards type="frontend" />
      <SkillCards type="backend" />
      <SkillCards type="others" />
    </div>
    <div>
      <Projects />
    </div>
  </main>
</MainLayout>
