---
import MainLayout from "../layout/mainLayout.astro";
import SkillCards from "../components/cards/SkillCards.astro";
import { Content as About } from "../about/about.mdx";
import Projects from "../components/sections/projects.astro";
import LatestPosts from "../components/sections/latestPosts.astro";
import Column from "../layout/column.astro";
import Html from "../layout/html.astro";
---

<Html title="Kendpr">
  <MainLayout pageType="Home">
    <Column>
      <header class="grid min-h-[calc(100dvh-175px)] content-center">
        <h1 class="flex text-4xl tracking-tight text-balance">
          <span class="text-2xl select-none" aria-hidden="true">
            &gt;&nbsp;
          </span>
          <span>Building fast and responsive websites.</span>
        </h1>
      </header>
      <main
        class="maxSm:border-b mx-auto grid max-w-(--breakpoint-xsm) justify-items-center gap-y-20 border-t border-y-neutral-700 pt-8 pb-16">
        <section
          class="prose-h2:text-3xl first-of-type:prose-p:mb-3 prose-h2:tracking-tight first-of-type:prose-p:mt-8 prose-p:leading-7 prose-h2:font-semibold!">
          <About />
        </section>
        <section id="posts">
          <LatestPosts />
        </section>
        <section id="works">
          <Projects />
        </section>
        <div class="prose-p:text-pretty w-full">
          <SkillCards type="frontend" />
        </div>
      </main>
    </Column>
  </MainLayout>
</Html>
