---
import { NavLinks } from "./navLinks";
import { SocialList } from "./socialList";
import { Logo } from "./logo";
---

<footer class="py-8 grid gap-y-6 border-t">
  <div class="prose-ul:mt-4">
    <Logo location="footer" />
    <SocialList />
  </div>
  <NavLinks />
  <p><small>Copyright &copy; 2024 Kendpr</small></p>
</footer>
