---
import { DialogMenu } from "./dialogMenu";
---

<nav class="fixed left-0 top-0 right-0 bg-black z-40">
  <div class="py-2 px-[2%] max-w-lg flex justify-between">
    <a class="block w-8" href="#">
      <picture>
        <source
          srcset="./assets/logo-is_light.svg"
          media="(prefers-color-scheme: dark)"
        />
        <img src="./assets/logo-is_dark.svg" alt="Kendpr's Logo" />
      </picture>
    </a>
    <button class="open-button text-2xl hover:cursor-pointer">&#129386;</button>
  </div>
  <DialogMenu />
</nav>
