---
import SectionHeader from "./sectionHeader.astro";
---

<section>
  <SectionHeader title="Posts" linkText="See more Posts" linkUrl="#b" />
  <article class="aspect-video w-full p-4">
    <figure class="w-full">
      <div class="aspect-video w-full rounded-lg bg-accent-dark"></div>
      <figcaption class="group my-4">
        <a class="hidden group-hover:inline-block" href="#e"
          >Lorem ipsum dolor sit.</a
        >
        <h3 class="group-hover:hidden">Lorem ipsum dolor sit.</h3>
      </figcaption>
    </figure>
    <p class="!text-sm">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, maxime.
    </p>
  </article>
</section>
