---
import { Image } from "astro:assets";
import * as projects from "../content/projects/projects.mdx";
---

<h2
  class="relative mb-6 text-2xl font-bold after:absolute after:bottom-[-15%] after:block after:h-px after:w-11/12 after:bg-black"
>
  My Works
</h2>
<div class="grid gap-y-6">
  {
    projects.frontmatter.project.map((i: { link: string; img: string }) => (
      <figure class="group relative aspect-video overflow-hidden rounded-2xl border">
        <Image
          src={i.img}
          alt=""
          width={1920}
          height={1280}
          loading={"eager"}
        />
        <div class="absolute bottom-[-100px] left-0 right-0 bg-[--blur-blue] bg-slate-500 px-4 py-2 backdrop-blur group-hover:bottom-0">
          <a
            class="text-base font-medium hover:!text-neutral-100"
            href={i.link}
          >
            Visit Site
          </a>
        </div>
      </figure>
    ))
  }
</div>
