---
import { Image } from "astro:assets";
import * as projects from "../content/projects/projects.mdx";
import SectionHeader from "./sectionHeader.astro";
---

<SectionHeader
  title="My Works"
  linkText="See more on Github"
  linkUrl="https://github.com/RealKendpr"
/>
<div class="grid gap-y-6">
  {
    projects.frontmatter.list.map(
      (i: { link: string; img: string; alt: string }) => (
        <div class="group relative aspect-video overflow-hidden rounded-2xl border border-neutral-200 dark:border-neutral-700">
          <Image
            src={i.img}
            alt={i.alt}
            width={1920}
            height={1280}
            loading="eager"
          />
          // pointer events-none, also disables pointer events on child element
          <div class="pointer-events-none invisible absolute bottom-[-100px] left-0 right-0 flex flex-row-reverse items-center justify-end gap-x-2 bg-accent-light bg-opacity-70 px-4 py-2 opacity-0 backdrop-blur-md duration-150 ease-linear group-hover:visible group-hover:bottom-0 group-hover:opacity-100 dark:bg-accent-dark dark:bg-opacity-70">
            <a
              class="peer pointer-events-auto text-base font-medium !text-neutral-400 hover:dark:!text-neutral-500"
              href={i.link}
              target="_blank"
            >
              Visit Site
            </a>
            <svg
              class="relative text-neutral-400 duration-150 ease-linear peer-hover:scale-125 dark:text-neutral-500"
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill="currentColor"
                d="M20 11a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1"
              />
              <path
                fill="currentColor"
                d="M16 5h1.58l-6.29 6.28a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0L19 6.42V8a1 1 0 0 0 1 1a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2"
              />
            </svg>
          </div>
        </div>
      )
    )
  }
</div>
