---
const { title, linkText, linkUrl } = Astro.props;
---

<div
  class="relative mb-6 flex items-center justify-between px-4 after:absolute after:bottom-[-35%] after:left-0 after:block after:h-px after:w-full after:bg-neutral-200 after:dark:bg-neutral-700"
>
  <h2 class="text-lg">{title}</h2>
  {
    linkText && linkUrl ? (
      <a
        class="flex items-center gap-x-2 text-sm"
        href={linkUrl}
        target="_blank"
      >
        {linkText}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            fill="currentColor"
            d="M20 11a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1"
          />
          <path
            fill="currentColor"
            d="M16 5h1.58l-6.29 6.28a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0L19 6.42V8a1 1 0 0 0 1 1a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2"
          />
        </svg>
      </a>
    ) : (
      ""
    )
  }
</div>
