---
import * as FrontEnd from "../content/skills/front-end.mdx";
import * as BackEnd from "../content/skills/back-end.mdx";
import * as Other from "../content/skills/other.mdx";
const cardType: string = Astro.props.type;
const card = {
  get type() {
    switch (cardType) {
      case "frontend":
        return FrontEnd;
      case "backend":
        return BackEnd;
      case "others":
        return Other;
      default:
        return;
    }
  },
};
---

{
  card.type != null ? (
    <article class="prose-h2:text-xl prose-p:text-sm z-30 py-8 px-6 rounded-2xl border">
      <div class="grid gap-y-6">
        <div class="flex items-center gap-x-4 relative after:absolute after:bottom-[-12%] after:w-11/12 after:h-px after:bg-black">
          <picture class="w-12 h-12">
            <source
              srcset={card.type.frontmatter.iconDarkMode}
              media="(prefers-color-scheme: dark)"
            />
            <img src={card.type.frontmatter.iconLightMode} alt="" />
          </picture>
          <h2>{card.type.frontmatter.title}</h2>
        </div>
        <p>{card.type.frontmatter.description}</p>
      </div>
      <div class="prose-li:flex prose-li:gap-x-4 prose-img:w-8 prose-li:items-center prose-li:text-sm prose-ul:grid prose-ul:gap-y-1 prose-h3:mb-4 prose-h3:text-base prose-ul:items-center prose-h3:mt-5">
        <card.type.Content />
      </div>
    </article>
  ) : (
    ""
  )
}
