---
import * as FrontEnd from "../content/skills/front-end.mdx";
import * as BackEnd from "../content/skills/back-end.mdx";
import * as Other from "../content/skills/other.mdx";
const cardType: string = Astro.props.type;
const card = {
  get type() {
    switch (cardType) {
      case "frontend":
        return FrontEnd;
      case "backend":
        return BackEnd;
      case "others":
        return Other;
      default:
        return;
    }
  },
};
---

{
  card.type != null ? (
    <article class="z-30 rounded-2xl border border-neutral-200 px-6 py-8 prose-h2:text-base dark:border-neutral-700">
      <div class="grid gap-y-6">
        <div class="relative flex items-center gap-x-4 after:absolute after:bottom-[-35%] after:h-px after:w-full after:bg-neutral-200 after:dark:bg-neutral-700">
          <picture class="h-10 w-10">
            <source
              srcset={card.type.frontmatter.iconDarkMode}
              media="(prefers-color-scheme: dark)"
            />
            <img src={card.type.frontmatter.iconLightMode} alt="" />
          </picture>
          <h2>{card.type.frontmatter.title}</h2>
        </div>
        <p>{card.type.frontmatter.description}</p>
      </div>
      <div class="prose-h3:mb-4 prose-h3:mt-5 prose-h3:text-sm prose-ul:grid prose-ul:items-center prose-ul:gap-y-2 prose-li:flex prose-li:items-center prose-li:gap-x-4 prose-li:text-sm prose-img:size-8">
        <card.type.Content />
      </div>
    </article>
  ) : (
    ""
  )
}
