---
import Image from "astro/components/Image.astro";
const { src, alt, loading, internal } = Astro.props;
---

<div
  class="aspect-[16/4] w-full overflow-hidden rounded-lg border border-neutral-200 dark:border-neutral-700"
>
  <Image
    class="h-full object-cover object-center"
    src={internal ? import(src) : src}
    loading={loading}
    alt={alt}
    height="960"
    width="1280"
  />
</div>
