<div
  class="hidden *:absolute *:bottom-[-2rem] *:h-8 *:w-8 *:border-neutral-200 sm:block *:dark:border-neutral-700"
>
  <div
    class="right-[100%] rounded-[100%_0%_100%_0%_/_0%_0%_100%_100%] border-b border-r"
  >
  </div>
  <div class="fade-border-left right-[calc(100%_+2rem)] !w-full border-b"></div>
  <div
    class="left-[100%] rounded-[0%_100%_0%_100%_/_0%_0%_100%_100%] border-b border-l"
  >
  </div>
  <div class="fade-border-right left-[calc(100%_+2rem)] !w-full border-b"></div>
</div>
