<div
  class="hidden *:absolute *:-bottom-8 *:h-8 *:w-8 *:border-neutral-700 sm:block">
  <div
    class="right-full rounded-[100%_0%_100%_0%/0%_0%_100%_100%] border-r border-b">
  </div>
  <div class="fade-border-left right-[calc(100%+2rem)] w-full! border-b"></div>
  <div
    class="left-full rounded-[0%_100%_0%_100%/0%_0%_100%_100%] border-b border-l">
  </div>
  <div class="fade-border-right left-[calc(100%+2rem)] w-full! border-b"></div>
</div>
