@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .squish {
    @apply focus-within:scale-x-75 focus-within:scale-y-125 hover:scale-x-75 hover:scale-y-125;
  }
  @keyframes drop {
    0% {
      transform: translateY(-50dvh);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes enlarge {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .open-dialog {
    animation-name: drop, enlarge;
    animation-duration: 100ms, 200ms;
    animation-delay: 0, 300ms;
    animation-timing-function: ease-in-out;
  }

  :root {
    --border-clr: #e9ecef;
  }
  .fade-border-right {
    border-image: linear-gradient(to right, var(--border-clr), transparent 40%)
      1;
  }
  .fade-border-left {
    border-image: linear-gradient(to left, var(--border-clr), transparent 40%) 1;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --border-clr: #495057;
    }
  }
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src:
      url("/kendpr-md/assets/fonts/inter/Inter-Regular.woff2") format("woff2"),
      url("/kendpr-md/assets/fonts/inter/Inter-Regular.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    src:
      url("/kendpr-md/assets/fonts/inter/Inter-Medium.woff2") format("woff2"),
      url("/kendpr-md/assets/fonts/inter/Inter-Medium.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    src:
      url("/kendpr-md/assets/fonts/inter/Inter-SemiBold.woff2") format("woff2"),
      url("/kendpr-md/assets/fonts/inter/Inter-SemiBold.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    src:
      url("/kendpr-md/assets/fonts/inter/Inter-Bold.woff2") format("woff2"),
      url("/kendpr-md/assets/fonts/inter/Inter-Bold.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 900;
    src:
      url("/kendpr-md/assets/fonts/inter/Inter-Black.woff2") format("woff2"),
      url("/kendpr-md/assets/fonts/inter/Inter-Black.woff") format("woff");
    font-display: swap;
  }
}
