@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  article pre {
    @apply mb-7 rounded-xl py-6 pl-4;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.1);
  }
  article p > code {
    @apply rounded bg-[#17191e] px-[3px] py-[2px] text-sm text-[#54B9FF];
  }
  article pre code {
    @apply text-sm;

    & > *:not(:last-child) {
      @apply pe-4;
    }
  }
  .border-bottom {
    @apply border-y-neutral-400 pb-16 maxSm:border-b dark:border-y-neutral-700;
  }
  .select-headings {
    @apply prose-headings:font-bold prose-headings:text-neutral-800 dark:prose-headings:text-neutral-400;
  }
  .select-p {
    @apply prose-p:text-neutral-800 dark:prose-p:text-neutral-500;
  }
  .select-a {
    @apply prose-a:text-neutral-700 prose-a:duration-200 prose-a:ease-in-out hover:prose-a:text-accent-light hover:prose-a:underline focus-visible:prose-a:text-accent-light  focus-visible:prose-a:underline dark:prose-a:text-neutral-500 dark:hover:prose-a:text-accent-dark dark:focus-visible:prose-a:text-accent-dark;
  }
  .select-li {
    @apply prose-li:text-neutral-800 dark:prose-li:text-neutral-500;
  }
  .select-imgs {
    @apply prose-img:pointer-events-none prose-img:select-none;
  }
  .squish {
    @apply focus-within:scale-x-75 focus-within:scale-y-125 hover:scale-x-75 hover:scale-y-125;
  }
  @keyframes drop {
    0% {
      transform: translateY(-50dvh);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes enlarge {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .open-dialog {
    animation-name: drop, enlarge;
    animation-duration: 100ms, 200ms;
    animation-delay: 0, 300ms;
    animation-timing-function: ease-in-out;
  }

  :root {
    --border-clr: #e9ecef;
  }
  .fade-border-right {
    border-image: linear-gradient(to right, var(--border-clr), transparent 40%)
      1;
  }
  .fade-border-left {
    border-image: linear-gradient(to left, var(--border-clr), transparent 40%) 1;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --border-clr: #495057;
    }
  }
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src:
      url("/kendpr-md/assets/fonts/inter/Inter-Regular.woff2") format("woff2"),
      url("/kendpr-md/assets/fonts/inter/Inter-Regular.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    src:
      url("/kendpr-md/assets/fonts/inter/Inter-Medium.woff2") format("woff2"),
      url("/kendpr-md/assets/fonts/inter/Inter-Medium.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    src:
      url("/kendpr-md/assets/fonts/inter/Inter-SemiBold.woff2") format("woff2"),
      url("/kendpr-md/assets/fonts/inter/Inter-SemiBold.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    src:
      url("/kendpr-md/assets/fonts/inter/Inter-Bold.woff2") format("woff2"),
      url("/kendpr-md/assets/fonts/inter/Inter-Bold.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 900;
    src:
      url("/kendpr-md/assets/fonts/inter/Inter-Black.woff2") format("woff2"),
      url("/kendpr-md/assets/fonts/inter/Inter-Black.woff") format("woff");
    font-display: swap;
  }
}
