---
const { title, metaTags } = Astro.props;

import logoForDark from "../assets/icons/logo-for-dark.svg";
import MetaTags from "./metaTags.astro";
import type { MetaTagProps } from "../type/metaTypes";
interface Props {
  title: string;
  forPost?: boolean;
  metaTags?: MetaTagProps;
}
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href={logoForDark.src} type="image/svg+xml" />
    <title>{title}</title>
    {metaTags != null ? <MetaTags metaTags={metaTags} /> : null}
  </head>
  <slot />


</html>
