---
import { Navigation } from "../components/navigation";
const { title } = Astro.props;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/icons/logo-is_light.svg"
      type="image/x-icon"
    />
    <title>{title}</title>
  </head>
  <body class="bg-slate-500">
    <Navigation client:load />
    <div
      class="mb-8 mx-[2%] px-[clamp(16px,_5%,_32px)] max-w-[500px] rounded-2xl border overflow-hidden"
    >
      <slot />
    </div>
  </body>
</html>
