---
import { Navigation } from "../components/navigation";
const { title } = Astro.props;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/logo-is_light.svg"
      type="image/x-icon"
    />
    <title>{title}</title>
  </head>
  <body class="bg-slate-500">
    <Navigation client:load />
    <slot />
  </body>
</html>
