---
const { frontmatter } = Astro.props;
import dayjs from "dayjs";
import MainLayout from "./mainLayout.astro";
import Thumbnail from "../components/thumbnail.astro";
---

<MainLayout title={frontmatter.title}>
  <div
    class="mt-20 grid gap-y-10 border-y-neutral-400 pb-16 prose-headings:font-bold maxSm:border-b dark:border-y-neutral-700"
  >
    <header>
      <Thumbnail loading="eager" src={frontmatter.image} />
      <div class="mt-5">
        <time
          class="text-xs text-neutral-800 dark:text-neutral-400"
          datetime={frontmatter.pubDate}
          >{dayjs(frontmatter.pubDate).format("MMMM D, YYYY")}</time
        >

        <h1 class="text-3xl">{frontmatter.title}</h1>
      </div>
    </header>
    <main>
      <article class="grid gap-y-2 prose-ol:list-inside prose-ol:list-decimal">
        <slot />
      </article>
    </main>
  </div>
</MainLayout>
